<header class="header">
  <h1>The New York Times</h1>
  <h3>Food</h3>
  <h2>Web-Scraper</h2>
</header>
<div class="container">
  <nav class="nav nav-pills nav-justified">
    <form action="/scrape" method="POST" class="navbar-form">
    <button type="submit" class="btn btn-default">SCRAPE NEW ARTICLES!</button>
    </form>
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/savedarticles">Saved Articles</a>
  </nav>
</div>


<div class="container">

  <div class="displayFrame">
    {{#each articles}}
    <div class="col-12 scrapedArticle">

    <div class="row">
      <div class="card">
  <div class="row">
    <div class="col-12">
      <div class="card-header">
        <h3 class="card-title headline">{{this.title}}</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p class="card-text summary">{{this.summary}}</p>
      </div>
      <div class="col-12">
          <link><h6 class="card-text url-link">{{this.link}}</h6></link>
      </div>
    </div>
    <div class="row">
      <div class="col-6">

          <button type="submit" class="btn btn-secondary"  data-id={{this._id}}>SAVE ARTICLE</button>

      </div>
    </div>

  </div>
</div>
      </div>
    </div>
    {{/each}}

</div>
